In [104]:
skey = 'Encoding Key' # urllib.request: Use Encoding Key

# Open API 상가 상권 데이터 수집

## SuanLab Code

In [105]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import pandas as pd
import json

res_id = 'storezone'
stype = 'json'
url = 'http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi'
params = f'?ServiceKey={skey}&resId={res_id}&type={stype}&' + urlencode({quote_plus('key'): '9174'}) # last '&' matters
# print(url+params)

query = url + params
request = Request(query)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
# print(response_body)
response_dict = json.loads(response_body.decode('utf-8'))
items = response_dict['body']['items']

df = pd.DataFrame(items) # if items are dict-wise
df

   trarNo  ...      stdrDt
0    9174  ...  2021-06-30

[1 rows x 10 columns]

In [38]:
# 함수화

def baro_api(skey, res_id, encode):
  url = 'http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi'
  params = f'?ServiceKey={skey}&resId={res_id}&type={stype}&' + encode

  request = Request(url+params)
  request.get_method = lambda: 'GET'
  response_body = urlopen(request).read()
  response_dict = json.loads(response_body.decode('utf-8'))
  items = response_dict['body']['items']
  df = pd.DataFrame(items)

  return df

### 지정 상권조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=storezone&key=9144&ServiceKey=서비스인증키

In [43]:
# skey = 'secret_key'
res_id = 'storezone'
encode= urlencode({quote_plus('key'): '9206'})
baro_api(skey, res_id, encode)

   trarNo  ...      stdrDt
0    9206  ...  2021-06-30

[1 rows x 10 columns]

In [44]:
res_id = 'storezone'
encode= urlencode({quote_plus('key'): '9174'})
baro_api(skey, res_id, encode)

   trarNo  ...      stdrDt
0    9174  ...  2021-06-30

[1 rows x 10 columns]

#### 반경 내 상권조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=storezone&catId=radius&radius=500&cx=127.004528&cy=37.567538&ServiceKey=서비스인증키

In [42]:
# skey = 'secret_key'
res_id = 'storezone'
encode= urlencode({quote_plus('catId'): 'radius',
                  quote_plus('radius'): '500',
                  quote_plus('cx'): '127.004528',
                  quote_plus('cy'): '37.567538'})
baro_api(skey, res_id, encode)

   trarNo  ...      stdrDt
0    9170  ...  2021-06-30
1    9180  ...  2021-06-30
2    9192  ...  2021-06-30
3    9193  ...  2021-06-30
4    9206  ...  2021-06-30

[5 rows x 10 columns]

#### 사각형내 상권조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=storezone&catId=rectangle&minx=126.978020&miny=37.557825&maxx=126.987732&maxy=37.562022&ServiceKey=서비스인증키

In [50]:
# skey = 'secret_key'
res_id = 'storezone'
encode= urlencode({quote_plus('catId'): 'rectangle',
                  quote_plus('minx'): '126.978020', quote_plus('miny'): '37.557825',
                  quote_plus('maxx'): '126.987732', quote_plus('maxy'): '37.562022'})
baro_api(skey, res_id, encode)

   trarNo  ...      stdrDt
0    9191  ...  2021-06-30
1    9196  ...  2021-06-30

[2 rows x 10 columns]

#### 행정구역 단위 상권조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=storezone&catId=dong&divId=adongCd&key=1168069000&ServiceKey=서비스인증키

In [51]:
# skey = 'secret_key'
res_id = 'storezone'
encode= urlencode({quote_plus('catId'): 'dong',
                  quote_plus('divld'): 'adongCd',
                  quote_plus('key'): '1168069000'})
baro_api(skey, res_id, encode)

      trarNo  ...      stdrDt
0       9213  ...  2021-06-30
1       9221  ...  2021-06-30
2       9222  ...  2021-06-30
3       9223  ...  2021-06-30
4       9224  ...  2021-06-30
...      ...  ...         ...
1162    9781  ...  2021-06-30
1163    9587  ...  2021-06-30
1164    9800  ...  2021-06-30
1165    9801  ...  2021-06-30
1166    9658  ...  2021-06-30

[1167 rows x 10 columns]

#### 행정동 단위 상가업소 조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=store&catId=dong&divId=ctprvnCd&key=11&ServiceKey=서비스인증키

In [56]:
# skey = 'secret_key'
res_id = 'store'
encode= urlencode({quote_plus('catId'): 'dong',
                   quote_plus('divId'): 'ctprvnCd',
                   quote_plus('key'): '11'})
baro_api(skey, res_id, encode).head()

    bizesId bizesNm brchNm indsLclsCd  ... flrNo hoNo         lon        lat
0  10004623  이철헤어커커   상계역점          F  ...     2       127.074146  37.661098
1  10025887     잠뱅이    금호점          D  ...             127.022714  37.547603
2  10030788  장안순대국밥                 Q  ...     1       127.055701  37.565595
3  10031349     장어야   동자동점          Q  ...             126.974149  37.551236
4  10031436    장어천국                 Q  ...     2       127.055836  37.443503

[5 rows x 39 columns]

## My Code

In [76]:
skey = 'Decoding Key' # requests: Use Decoding Key

In [80]:
import requests

url = 'http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi'
params = {
    'key': '9174', 
    'ServiceKey': skey,
    'resId': 'storezone',
    'type': 'json',
}

res = requests.get(url, params=params)
# print(url+'?'+urlencode(params))
pd.DataFrame(res.json()['body']['items'])

   trarNo  ...      stdrDt
0    9174  ...  2021-06-30

[1 rows x 10 columns]

In [88]:
# 함수화

def baro_api(skey, res_id):
  url = 'http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi'
  params = {
    'key': '9174', 
    'ServiceKey': skey,
    'resId': 'storezone',
    'type': 'json',
  }
  
  res = requests.get(url, params=params)
  return pd.DataFrame(res.json()['body']['items'])

In [98]:
def baro_api(skey, res_id, new_params):
  url = 'http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi'
  params = {
    'ServiceKey': skey,
    'resId': res_id,
    'type': 'json',
  }
  params.update(new_params)
  
  res = requests.get(url, params=params)
  return pd.DataFrame(res.json()['body']['items'])

### 지정 상권조회
- baroApi Operation
  - http://apis.data.go.kr/B553077/api/open/sdsc2/baroApi?resId=storezone&key=9144&ServiceKey=서비스인증키

In [100]:
# skey = 'secret_key'
res_id = 'storezone'
new_params = {'key': '9174'}
baro_api(skey, res_id, new_params)

   trarNo  ...      stdrDt
0    9174  ...  2021-06-30

[1 rows x 10 columns]

#### 연습
- (잘못된 예시)

```second_dict = first_dict.update(new_dict)```

- 잘된 예시

```first_dict.update(new_dict)```

```fist_dict```

In [102]:
params = {
      'ServiceKey': 'secret_key',
      'resId': res_id,
      'type': 'json',
}
params.update({'key': 9144})
params

{'ServiceKey': 'secret_key', 'key': 9144, 'resId': 'storezone', 'type': 'json'}